<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <title>Snake!</title>
    <link rel="stylesheet" href="/css/snake.css">
    <script src="/js/snake.js"></script>
</head>
<body>
    <header>
        <div id="banner">
            <h1 id="title">Snake!</h1>
    </header>
    <div id="card-directions">
        <div id="directions">
            <h1>Directions</h1>
            <p>Use the arrow keys to control the snake</p>
            <p>Eat as many apples as you can to free Nick Cage!</p>
        </div>
    </div>
    <div id="card-right">
        <div id="score-text">
            <h1>Score</h1>
        </div>
        <h1 id="score-actual"></h1>
    </div>
    <canvas id="board"></canvas>
</body>
</html>